body
{
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	background: #F2F2F2
}
/*start navbar*/
.navbar
{
	background: #FFF;
	z-index: 3
}
.navbar-brand img
{
	max-width: 70px;
}
.navbar-nav
{
	width: 70%;
	font-size: 15px;
}
.nav-item
{
	margin: 0 3%;
}
/*.navbar-light .navbar-nav .nav-link
{
	color: #FFF
}*/
.active
{
	color: #000
}
/* end navbar*/

/* start description section */
.intro
{
	padding: 3% 0;
	position: relative;
	min-height: 570px;
}
.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #212529cc;
	z-index: 0
}
.intro .description
{
	text-align: center;
    display: flex;
    color: #41AB95;
    justify-content: center;
    align-items: center;
}
.intro img
{
	height: 65%
}
/* end description section */

/* start screen section*/
.screens
{
	padding-top: 40px;
	padding-bottom: 40px;
}
.card
{
	margin: 15px;
    border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    -o-border-radius: 1.75rem;
    -webkit-border-radius: 1.75rem;
    overflow: hidden;
}
/* end screen sectoin */
/* start footer */
footer 
{
	min-height: 40px;
	background-color: #1d1d1d;
	line-height: 40px;
	text-align: center;
	color: #CCC;
	font-size: 20px;
	position: absolute;
    bottom: 0;
    width: 100%;
}
/* end footer */


/*****  media *****/
@media (min-width: 992px) 
{
	.intro .row
	{
		max-height: 500px;
		overflow: hidden;
	}
		
}